<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides  pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="https://i.pinimg.com/originals/01/76/dd/0176dd7f08a3db2e072f9e83cbd93fd1.jpg"/>
      <h2>Welcome</h2>
      <!-- <h2>What is Ionic Appflow?</h2>
      <p><b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p> -->
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="https://www.sketchup.com/sites/www.sketchup.com/files/molecule_image/IMG_01_SCHOOL_SCENE_01_low-1.png"/>
        <h2>Welcome</h2>
        <p>Sri Aurobindo Integral Education Center, Paikakushadiha </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="https://education.maharashtra.gov.in/saral2/images/school-icon.png"/>
      <h2>Why SAIEC?</h2>
    
    </ion-slide>

   

    <ion-slide>
      <img src="https://www.sketchup.com/sites/www.sketchup.com/files/molecule_image/IMG_01_SCHOOL_SCENE_01_low%282%29_0.png"/>
      <h2>Ready to Play?</h2>
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
